html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  ul,ol,dl,p {
    font-size: 1.5rem;
  }
  
  li, p {
    line-height: 1.5;
  }
 
* {
  margin: 0px;
  padding: 0px;
  font: 16px;
  border: none;
  box-sizing: border-box;
}

html,
body {
  background: #ccc;
  text-align: center;
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  display: table-cell;
  vertical-align: middle;
}
